{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Самые свежие новости</h1>

{% if news %}
<h2>Всего новостей: {{ news|length }}</h2>

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% for news in filter.qs %}
    <h3>{{ news.title|censor}}</h3>
    {{ news.text|censor|truncatechars:50 }}
{% endfor %}

{% else %}}
<h2>Новостей нет</h2>
{% endif %}

{% endblock content %}